body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    color: #333;
    margin: 0;
    padding: 0;
}


.title {
    font-size: 60px;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px; 
    margin-top: 50px;   
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.subtitle {
    font-size: 25px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.details {
    font-size: 18px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}



.stDivider {
    background-color: #af7236; 
    height: 3px;
    margin: 20px 0;
    border: none;
}


h2, h3 {
    color: #f6ddc5;
    text-align: center;
}

h3::after {
    content: '';
    display: block;
    width: 50px;
    height: 3px;
    background: #ffffff;
    margin-top: 5px;
}


ul.details {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.details li {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
}


.stImage {
    border-radius: 100%;
    margin-bottom: 20px;
    margin-left: 10px;
}



.navbar {
    background-color: #b69473;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #412300;
    padding: 14px 45px;
    text-decoration: none;
    text-align: center;
    font-size: 23px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

